<div class="card-body">
  <h2 style="text-align: center">Search for Domain</h2>
  <!-- Domain name -->
  <div>
    <form (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-7">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Domain Name"
            required
            [(ngModel)]="model.domainName"
            [ngClass]="{
              'is-invalid': modelDomainName.errors && modelDomainName.touched
            }"
            name="domainName"
            #modelDomainName="ngModel"
            required
            minlength="2"
          />
          <div class="invalid-feedback">
            Please enter a valid domain name excluding '@', ','
          </div>
        </div>
        <!-- Domain Type selection -->
        <div class="form-group col">
          <select
            id="domainType"
            class="form-control"
            required
            [(ngModel)]="model.domainType"
            name="domainType"
            #dt
            (change)="callType(dt.value)"
          >
            <option *ngFor="let domType of domainType" [value]="domType">
              {{ domType }}
            </option>
          </select>
        </div>
        <div class="form-group col">
          <button
            [disabled]="!modelDomainName.valid"
            type="submit"
            class="btn btn-primary"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
  <!-- shows the response -->
  <div class="card card-body">
    <h3>{{ diagnostic }}</h3>
    <!-- <br /> -->
    <ul *ngFor="let item of xmlItems">
      <li>{{ item | json }}</li>
    </ul>
  </div>
  <!-- end response -->
</div>

<!-- pattern="^((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+[A-Za-z]{2,6}$" -->
